@using ErzurumOdmMvc.Common.Library
@model ErzurumOdmMvc.Areas.ODM.Model.SinavEvrakViewModel
@section HeaderSection
{

    <link rel="stylesheet" href="/Areas/ODM/Content/plugins/daterangepicker/daterangepicker.css">
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                    <div id="uyari" class="alert alert-success alert-dismissible hidden">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-check"></i> Uyarı!</h5>
                        @Html.ValidationSummary()
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>
                        </div>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data",id="gonder" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.SinavEvrak.Id)
                            @Html.HiddenFor(x => x.SinavEvrak.Hit)
                    <div class="card-body">

                        <div class="form-group">
                            <label>Açıklama</label>
                            @Html.TextBoxFor(x => x.SinavEvrak.Aciklama, new { @class = "form-control" })
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="updateFile">Dosya</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="updateFile" name="updateFile">
                                            <label class="custom-file-label" for="updateFile">Dosya seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Url</label>
                                    @Html.TextBoxFor(x => x.SinavEvrak.Url, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Başlangıç Bitiş Tarihleri</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservationtime" name="tarih">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Kurum Türü</label>
                                    <select id="kurumturu" class="custom-select">
                                        <option value="">--- Seçiniz ---</option>
                                        @foreach (var kt in Model.KurumTurleri)
                                        {
                                            <option value="@kt.Tur">@kt.Tur</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Kurumlar</label>
                                    <select id="kurumlar" multiple="multiple" class="custom-select" style="height:200px">
                                        <option value="" disabled="disabled">--- Kurum Türü Seçiniz ---</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <p><br/></p>
                                    <p>
                                        <button id="btnEkle" type="button" class="btn btn-xs btn-success" onclick="Ekle()">>></button>
                                        <button id="btnSil" type="button" class="btn btn-xs btn-danger float-right" onclick="Cikar()"><<</button>
                                    </p>
                                </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Seçili Kurumlar</label>
                                        <select id="secilikurumlar" name="secilikurumlar" multiple="" class="custom-select" style="height: 200px">
                                            @foreach (var sk in Model.SeciliKurumlar)
                                            {
                                                <option value="@sk.KurumKodu">@sk.KurumAdi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        <div class="card-footer">
                            <button type="button" id="gonderBtn" class="btn btn-primary float-right" onclick="Gonder()">Kaydet</button>
                        </div>
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScript
{
    <script src="/Areas/ODM/Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="/Areas/ODM/Content/plugins/moment/moment.min.js"></script>
    <script src="/Areas/ODM/Content/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/Areas/ODM/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        $(function () {

            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 30,
                "autoApply": true,
                "opens": "center",
                locale: {
                    format: 'DD.MM.YYYY H:mm',
                    "timePicker24Hour": true,
                    cancelLabel: 'Vazgeç',
                    applyLabel: 'Tamam',
                    "daysOfWeek": ["Pz", "Pt", "Sa", "Çr", "Pr", "Cu", "Ct"],
                    "monthNames": ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"]
                }
            });
        });
        $("#kurumturu").on("change", function () {
            var tur = $(this).val();
            $.ajax({
                type: "POST",
                url: "/ODM/Kurum/Kurumlar?tur=" + tur,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var kurumlarSelect = $("#kurumlar");

                    kurumlarSelect.empty();

                    kurumlarSelect.append('<option selected="true" disabled>--- Okul Seçiniz ---</option>');
                    kurumlarSelect.prop('selectedIndex', 0);

                    $.each(data,
                        function (key, entry) {
                            kurumlarSelect.append($('<option></option>')
                                .attr('value', entry.KurumKodu)
                                .text(entry.KurumAdi));
                        });
                }
            });
        });

        function Ekle() {
            var kurumlarSelect = $("#secilikurumlar");

            $("#kurumlar option:selected").each(function () {

                if ($(this).length) {
                   kurumlarSelect.append($('<option></option>')
                        .attr('value', $(this).val())
                        .text($(this).text()));
                }
            });
        }

        function Cikar() {
            var kurumlarSelect = $("#secilikurumlar");
            $('option:selected', kurumlarSelect).remove();
        }

        function Gonder() {
            $('#secilikurumlar option').prop('selected', true);
            $("#gonder").submit();
        }
    </script>
    @if (ViewBag.Uyari != null && ViewBag.Uyari.ToString() == "islemTamam")
    {
        <script>document.getElementById("uyari").className = "alert alert-info alert-dismissible";</script>
    }
    @if (ViewBag.Uyari != null && ViewBag.Uyari.ToString() == "uyari")
    {
        <script>
            document.getElementById("uyari")
                .className = "alert alert-danger alert-dismissible";</script>
    }
}
