@using ErzurumOdmMvc.Common.Enums
@using ErzurumOdmMvc.Common.Library
@using ErzurumOdmMvc.Library
@model ErzurumOdmMvc.Areas.ODM.Model.KazanimKarneViewModel
@{
    ViewBag.Title = "Kazanım Karneleri";
    int a = 0;
    int sinavId = Request.Form["sinavlar"].ToInt32();
    string ilceAdi = Request.Form["ilceler"];
    int sinifi = Request.Form["siniflar"].ToInt32();

    string yetki = CurrentSession.Kullanici.Yetki;

    bool ilButton;
    bool ilceButton;
    if (yetki.Contains(KullaniciSeviye.Root.ToString()) || yetki.Contains(KullaniciSeviye.Admin.ToString()) || yetki.Contains(KullaniciSeviye.LgsIlKomisyonu.ToString()))
    {
        ilButton = true;
    }
    else
    {
        ilButton = false;
    }
    if (yetki.Contains(KullaniciSeviye.Root.ToString()) || yetki.Contains(KullaniciSeviye.Admin.ToString()) || yetki.Contains(KullaniciSeviye.IlceMEMYetkilisi.ToString()))
    {
        ilceButton = true;
    }
    else
    {
        ilceButton = false;
    }

}
@section HeaderSection
{
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.css">
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewBag.Title @Session["ilceadi"]</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @using (Html.BeginForm(null, null, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    @* col-12 col-sm-10 col-md-8 col-lg-6 *@
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-1">
                                        <select id="sinavlar" name="sinavlar" class="form-control">
                                            <option value="">--- Sınav Seçiniz ---</option>
                                            @foreach (var sinav in Model.CkSinavlar.OrderByDescending(x => x.Id))
                                            {
                                                <option value="@sinav.SinavId" @(sinavId == sinav.SinavId ? "selected" : "")>@sinav.SinavAdi</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-1">
                                        <select id="ilceler" name="ilceler" class="form-control">
                                            <option value="">--- Sınav Seçiniz ---</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-2 col-lg-2 mb-1">
                                        <select id="siniflar" name="siniflar" class="form-control">
                                            <option value="">--- Sınav Seçiniz ---</option>
                                        </select>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-2 col-lg-2 mb-1">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search mr-2"></i> Listele</button>
                                    </div>
                                </div>

                            }

                        </div>
                        <div class="card-body">

                            @if (ilButton)
                            {
                                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2 float-right">
                                    <button type="button" onclick="IlKarnesi()" class="btn btn-block btn-warning"><i class="fas fa-cloud-download-alt mr-2"></i> İl Karnesi</button>
                                </div>
                            }
                            @if (ilceButton)
                            {
                                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2 float-right">
                                    <button type="button" onclick="IlceKarnesi()" class="btn btn-block btn-danger"><i class="fas fa-cloud-download-alt mr-2"></i> İlçe Karnesi</button>
                                </div>
                            }
                            <table class="table table-responsive-sm table-bordered table-hover table-head-fixed">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Kurum Adı</th>
                                        <th style="width: 130px" colspan="2">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CkKurumlar != null && Model.CkKurumlar.Count() > 0)
                                    {
                                        foreach (var item in Model.CkKurumlar)
                                        {
                                            a++;
                                            <tr>
                                                <td>@a</td>
                                                <td>@item.KurumAdi</td>
                                                <td>
                                                    <a title="Okul Karnesini İndir" href="#" onclick="OkulKarnesi(@sinavId, @item.KurumKodu, @sinifi);return false;" class="btn btn-default btn-sm float-right"><i class="fa fa-file-pdf"></i></a>
                                                    <a title="Okul Karnesini İndir" href="#" onclick="OkulKarnesi(@sinavId, @item.KurumKodu, @sinifi);return false;"><i class="fa fa-file-pdf-o"></i> Okul Karnesi</a>
                                                </td>
                                                <td>
                                                    <a title="Öğrenci Karnesini İndir" href="#" onclick="OgrenciKarnesi(@sinavId, @item.KurumKodu, @sinifi);return false;" class="btn btn-default btn-sm float-right"><i class="fa fa-file-pdf"></i></a>
                                                    <a title="Öğrenci Karnesini İndir" href="#" onclick="OgrenciKarnesi(@sinavId, @item.KurumKodu, @sinifi);return false;"><i class="fa fa-file-pdf-o"></i>  Öğrenci Karnesi</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="6" class="text-center">Listelemek için formdan kriterler seçiniz.</td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScript
    {
    <script src="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
            $(function() {
                $('[data-toggle="modal"]').tooltip();
                var sinavId = $("#sinavlar").val();
                if (sinavId !== "") {
                    IlceleriGetir(sinavId);
                    SiniflariGetir(sinavId);
                }
            });

            $("#sinavlar").on('change',
                function() {

                    var sinavId = $(this).val();

                    IlceleriGetir(sinavId);
                    SiniflariGetir(sinavId);
                });

            function IlceleriGetir(sinavId) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/ODM/CkKutuk/IlceKurumlari?sinavId=" + sinavId,
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function(data) {

                            var valSelect = $('#ilceler');

                            valSelect.empty();

                            valSelect.append('<option selected="true" disabled>--- İlçe Seçiniz ---</option>');
                            valSelect.prop('selectedIndex', 0);

                            $.each(data,
                                function(key, entry) {
                                    valSelect.append($('<option></option>')
                                        .attr('value', entry.IlceAdi)
                                        .text(entry.IlceAdi));

                                    //post sonrası okulu seçili yap
                                    $('#ilceler option').filter(function() {
                                        return ($(this).val() === '@ilceAdi');
                                    }).prop('selected', true);


                                });
                        }
                    }
                );
            }

            function SiniflariGetir(sinavId) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/ODM/CkKutuk/SinifSinavlari?sinavId=" + sinavId,
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function(data) {

                            var valSelect = $('#siniflar');

                            valSelect.empty();

                            valSelect.append('<option selected="true" disabled>--- Sınıf Seçiniz ---</option>');
                            valSelect.prop('selectedIndex', 0);

                            $.each(data,
                                function(key, entry) {
                                    valSelect.append($('<option></option>')
                                        .attr('value', entry.Sinifi)
                                        .text(entry.Sinifi));

                                    //post sonrası okulu seçili yap
                                    $('#siniflar option').filter(function() {
                                        return ($(this).val() === '@sinifi');
                                    }).prop('selected', true);


                                });
                        }
                    }
                );
            }

            function OgrenciKarnesi(s,k,c) {
                location.href = "/ODM/KazanimKarne/OgrenciKarnesi?sinavId=" + s + "&kurumKodu=" + k + "&sinifi=" + c;
            }
            function OkulKarnesi(s,k,c) {
                location.href = "/ODM/KazanimKarne/OkulKarnesi?sinavId=" + s + "&kurumKodu=" + k + "&sinifi=" + c;
            }
        function IlceKarnesi() {
            var s =$("#sinavlar").val();
            var i=$("#ilceler").val();
            if (s === 0||s==="") {
                Swal.fire({
                    icon: 'warning',
                    title:'Uyarı!',
                    text: "Sınav seçiniz.",
                    showConfirmButton: true,
                    confirmButtonText: "Tamam"
                });
            } else if(i===null) {
                Swal.fire({
                    icon: 'warning',
                    title:'Uyarı!',
                    text:"İlçe seçiniz.",
                    showConfirmButton: true,
                    confirmButtonText: "Tamam"
                });
            } else {
                location.href = "/ODM/KazanimKarne/IlceKarnesi?sinavId=" + s + "&ilceAdi=" + i;
            }
        }
            function IlKarnesi() {
                var s =$("#sinavlar").val();
                if (s === 0||s==="") {
                    Swal.fire({
                        icon: 'warning',
                        title:'Uyarı!',
                        text: "Sınav seçiniz.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam"
                    });
                } else {
                    location.href = "/ODM/KazanimKarne/IlKarnesi?sinavId=" + s;
                }
            }
    </script>
}
