@using ErzurumOdmMvc.Common.Library
@model ErzurumOdmMvc.Areas.ODM.Model.KurumKayitModel
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                    <div id="uyari" class="alert alert-success alert-dismissible hidden">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-check"></i> Uyarı!</h5>
                        @Html.ValidationSummary()
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>
                        </div>

                        @using (Html.BeginForm(null, null, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x=>x.Kurum.Id)
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-md-4">İlçe</label>
                            @Html.DropDownListFor(x => x.Kurum.IlceId,
                                new SelectList(Model.Ilceler, "Id", "IlceAdi"), "--- Seçiniz ---", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Kurum Kodu</label>
                            @Html.TextBoxFor(x => x.Kurum.KurumKodu, new { @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group">
                            <label>Kurum Adı</label>
                            @Html.TextBoxFor(x => x.Kurum.KurumAdi, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>E-mail Adresi</label>
                            @Html.TextBoxFor(x => x.Kurum.Email, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label class="col-md-4">Kurum Türü</label>
                            @Html.DropDownListFor(x => x.Kurum.KurumTuru,
                                new SelectList(Model.KurumTurleri, "KurumTuru", "KurumTuru"), "--- Seçiniz ---", new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">Kapalı</label>

                            <label class="form-check-label"> @Html.CheckBoxFor(x => x.Kurum.Kapali, new { @class = "form-check-input" }) Evet</label>
                        </div>
                    </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary float-right">Kaydet</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScript
{
    @if (ViewBag.Uyari != null && ViewBag.Uyari.ToString() == "islemTamam")
    {
        <script>document.getElementById("uyari").className = "alert alert-info alert-dismissible";</script>
    }
    @if (ViewBag.Uyari != null && ViewBag.Uyari.ToString() == "uyari")
    {
        <script>document.getElementById("uyari").className = "alert alert-danger alert-dismissible";</script>
    }
}
