@using ErzurumOdmMvc.Entities
@using ErzurumOdmMvc.Library
@model ErzurumOdmMvc.Areas.ODM.Model.GirisViewModel
@{
    SiteAyar ayar = CacheHelper.SiteAyarFromChache();
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ayar.SiteAdi - İzleme Değerlendirme Modülü</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/ODM/Content/dist/css/adminlte.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js?hl=tr" async defer></script>
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.css">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @if (ViewData.ModelState.Count > 0)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Uyarı</h5>
                @Html.ValidationSummary(false, "")
            </div>
        }

        <div class="card">
            <div class="card-body login-card-body">
                @using (Html.BeginForm("Index", "Giris", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(f => f.KurumKodu, new { placeholder = "Giriş bilgisi", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-xs btn-info" data-toggle="popover" title="Giriş Bilgisi" data-content="Kurum kodu, Telefon numarası veya Tc Kimlik numarası olabilir. Genel olarak okullar için giriş bilgisi Kurum Kodudur. Öğretmenler için telefon numaranızın başında 0 olmadan 10 rakamdır."><i class="fa fa-info"></i></button>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(f => f.Password, new { placeholder = "Şifrenizi giriniz.", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-xs btn-info" data-toggle="popover" title="Şifre" data-content="İlk defa giriş yapacak okullar giriş ekranına yalnızca kurum kodlarını yazarak giriş yapacaklardır. Sistem ilk girişte sizden yeni şifre oluşturmanızı isteyecektir."><i class="fa fa-info"></i></button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="g-recaptcha" data-sitekey="6LfYzMkUAAAAACjTBmQKchKcPGmR2OAtr1y0a0dV"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <label for="RememberMe">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş</button>
                        </div>
                    </div>
                    <p class="mb-1">
                        <a data-toggle="modal" data-target="#sifremiunuttum" href="#">Şifremi Unuttum</a>
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="sifremiunuttum" tabindex="-1" role="dialog" aria-labelledby="sifremiunuttumLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sifremiunuttumLabel">Şifremi Unuttum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ilceler">İlçeniz</label>
                        <select class="form-control" id="ilceler">
                            <option value="">--- İlçe Seçiniz ---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="okulunuz">Okulunuz</label>
                        <select class="form-control" id="okulunuz">
                            <option value="">--- İlçe Seçiniz ---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kurumkodu">KurumKodu</label>
                        <input type="text" class="form-control" id="kurumkodu" placeholder="Okulunuzun Kurum Kodunu Giriniz" />
                    </div>
                    <div class="form-group">
                        <label for="kurumkodu">Giriş Bilgisi <button type="button" class="btn btn-xs btn-info" data-toggle="popover" title="Giriş Bilgisi" data-content="Kurum kodu, Telefon numarası veya Tc Kimlik numarası olabilir. Genel olarak okullar için giriş bilgisi Kurum Kodudur. Öğretmenler için telefon numaranızın başında 0 olmadan 10 rakamdır."><i class="fa fa-info"></i></button></label>
                        <input type="text" class="form-control" id="girisbilgisi" placeholder="Kurum Kodu veya Telefon Numarası" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-btn-giris" class="btn btn-primary">Giriş</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sifreolustur" tabindex="-1" role="dialog" aria-labelledby="sifreolusturLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sifreolusturLabel">Yeni Şifremi Oluştur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="yenisifre">Yeni Şifreniz</label>
                        <input type="password" class="form-control" id="yenisifre" placeholder="Yeni şifre giriniz" />
                    </div>
                    <div class="form-group">
                        <label for="yenisifre2">Yeni Şifreniz (Tekrar)</label>
                        <input type="password" class="form-control" id="yenisifre2" placeholder="Yeni şifreyi tekrar giriniz" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-btn-yeni-sifre-kaydet" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Areas/ODM/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Areas/ODM/Content/popper.min.js"></script>
    <script src="~/Areas/ODM/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/ODM/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        var userId = 0;
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $('#sifremiunuttum').on('shown.bs.modal', function () {

            $.ajax(
                {
                    type: "GET",
                    url: "/ODM/Ilce/Tumu",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        var ilceSelect = $('#ilceler');

                        ilceSelect.empty();

                        ilceSelect.append('<option selected="true" disabled>--- İlçe Seçiniz ---</option>');
                        ilceSelect.prop('selectedIndex', 0);

                        $.each(data, function (key, entry) {
                            ilceSelect.append($('<option></option>')
                                .attr('value', entry.Id)
                                .text(entry.IlceAdi));
                        });
                    },
                    error: function () {

                    }
                });

        });

        $("#ilceler").change(function () {

            var value = $(this).val();

            $.ajax(
                {
                    type: "POST",
                    url: "/ODM/Kurum/IlceKurumlari?ilce=" + value,
                    data: value,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        var okulunuzSelect = $('#okulunuz');

                        okulunuzSelect.empty();

                        okulunuzSelect.append('<option selected="true" disabled>--- Okul Seçiniz ---</option>');
                        okulunuzSelect.prop('selectedIndex', 0);

                        $.each(data, function (key, entry) {
                            okulunuzSelect.append($('<option></option>')
                                .attr('value', entry.Id)
                                .text(entry.KurumAdi));
                        });
                    },
                    error: function () {

                    }
                });
        });

        $("#modal-btn-giris").unbind().on("click",
            function () {
                var okulunuz = $("#okulunuz").val();
                var kurumkodu = $("#kurumkodu").val();
                var girisbilgisi = $("#girisbilgisi").val();
                if (okulunuz === null || okulunuz === "") {
                    Swal.fire({
                        icon: 'error',
                        title: "Okulunuzu seçiniz.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                else if (kurumkodu === "") {
                    Swal.fire({
                        icon: 'error',
                        title: "Okulunuzun Kurum Kodunu giriniz.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                } else if (girisbilgisi === "") {
                    Swal.fire({
                        icon: 'error',
                        title: "Giriş bilginizi giriniz.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Giris/KullaniciKontrol?kurumId=" + okulunuz + "&kurumKodu=" + kurumkodu + "&giris=" + girisbilgisi,
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.Sonuc === false) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                }
                                else {
                                    userId = data.Id;

                                    $("#sifremiunuttum").modal("hide");
                                    $("#sifreolustur").modal("show");
                                }
                            },
                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam",
                                    timer: 3000
                                });
                            }
                        });
                }

            });

        $("#modal-btn-yeni-sifre-kaydet").unbind().on("click",
            function () {
                var yenisifre = $("#yenisifre").val();
                var yenisifre2 = $("#yenisifre2").val();
                if (userId === 0) {
                    Swal.fire({
                        icon: 'error',
                        title: "Kullanıcı bilginiz bulunamadı.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                else if (yenisifre !== yenisifre2) {
                    Swal.fire({
                        icon: 'error',
                        title: "Şifreler uyuşmuyor. Lütfen tekrar kontrol ediniz.",
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Giris/SifreDegistir?id=" + userId + "&sifre=" + yenisifre,
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.Sonuc === false) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                }
                                else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });

                                    $("#sifreolustur").modal("hide");
                                }
                            },
                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam",
                                    timer: 3000
                                });
                            }
                        });
                }
            });
    </script>
</body>
</html>